@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply hover:cursor-pointer
    }
    .backdrop-filter-blur{
        backdrop-filter: blur(1px)
    }

    .two-lines {
        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

    .one-line {
        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 1;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
}