::cue( .plusSub ) {
    color: var(--plusSub-cue-color);
    /*background-color: var(--plusSub-cue-background-color);*/
    font-size: var(--plusSub-cue-font-size);
    font-weight: var(--plusSub-cue-font-weight);
    line-height: var(--plusSub-cue-line-height);
}

video[data-plus-sub-state="injected"]::cue {
    color: var(--plusSub-cue-color, #ffffff);
    /*background-color: var(--plusSub-cue-background-color);*/
    font-size: var(--plusSub-cue-font-size);
    font-weight: var(--plusSub-cue-font-weight);
    line-height: var(--plusSub-cue-line-height);
}

