video[data-plussub-status="injected"]::cue,
::cue( .plussub ) {
    color: var(--plussub-cue-color);
    background-color: var(--plussub-cue-background-color);
    font-size: calc(var(--plussub-cue-font-size)*1px);
    font-weight: var(--plussub-cue-font-weight);
    line-height: var(--plussub-cue-line-height);

    outline: var(--plussub-cue-background-color) solid 500px;
    background-image: linear-gradient(var(--plussub-cue-background-color), var(--plussub-cue-background-color));
    border-color: var(--plussub-cue-background-color);
    text-decoration-color: var(--plussub-cue-background-color);
}
